
$fuente_principal:'Newsreader', serif;
$fuente_texto:'Red Hat Text', sans-serif;

// Colores
$blanco: white;
$gris: #333333;
$grisClaro: #b5b5b5;
$negro: #000;
$azul: #082032;
$azulClaro: darkcyan;
$verde:#33e453;



// Tamaños de mediaqueries

$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1400px;